#content > div {
  background-color: #3bbced;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding: 30px; */
}

#content > div:nth-child(even) {
  background-color: #777;
}

#content {
  text-align: center;
  color: #fff;
  font-size: 20px;
  max-width: 960px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(150px, auto);
}

.nested {

  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.nested p {
  border: 1px solid #fff;
  margin: 0;
  padding: 20px;
}
